body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  padding: 40px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.card {
  background: #111827;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

button {
  background: #22c55e;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

input[type="file"] {
  margin-bottom: 10px;
}

.job {
  border-bottom: 1px solid #374151;
  padding: 10px 0;
}
